
reportview.xml
promote.xml
impl1/xxx_lse_sign_file
impl1/xxx_lse_cp_file_list
impl1/synwork/modulechange.db
impl1/synwork/layer0.tlg.db
impl1/synwork/layer0.tlg
impl1/synwork/layer0.fdeporig
impl1/synwork/.complist
impl1/syntmp/statusReport.html
impl1/syntmp/run_option.xml
impl1/syntmp/open.png
impl1/syntmp/impl1_toc.htm
impl1/syntmp/impl1_srr.htm
impl1/syntmp/cmdrec_compiler.log
impl1/syntmp/closed.png
impl1/synthesis_lse.html
impl1/synthesis.log
impl1/synlog/report/metrics.db
impl1/synlog/report/impl1_compiler_warnings.txt
impl1/synlog/report/impl1_compiler_runstatus.xml
impl1/synlog/report/impl1_compiler_notes.txt
impl1/synlog/report/impl1_compiler_errors.txt
impl1/synlog/layer0.tlg.rptmap
impl1/synlog/impl1_compiler.srr.rptmap
impl1/synlog/impl1_compiler.srr.db
impl1/synlog/impl1_compiler.srr
impl1/synlog.tcl
impl1/stdout.log
impl1/source/bit_adder_32.vhd
impl1/scratchproject.prs
impl1/run_options.txt
impl1/message.xml
impl1/launch_synplify.tcl
impl1/impl1_syn.prj
impl1/impl1_syn.prd
impl1/impl1.srr.db
impl1/impl1.srr
impl1/impl1.htm
impl1/hdla_gen_hierarchy.html
impl1/FPGA_CPU_impl1_summary.html
impl1/FPGA_CPU_impl1_lattice.synproj
impl1/FPGA_CPU_impl1.ngd
impl1/FPGA_CPU_impl1.lsedata
impl1/FPGA_CPU_impl1.lpf
impl1/FPGA_CPU_impl1.arearep
impl1/automake.log
impl1/ALU_prim.v
impl1/ALU_lse_lsetwr.html
impl1/ALU_lse.twr
impl1/ALU_drc.log
impl1/.vdbs/dbStat.txt
impl1/.vdbs/ALU_tech.vdb
impl1/.vdbs/ALU_rtl.vdb
impl1/.recordref
impl1/.build_status
FPGA_CPU_tcr.dir/pn190219203744.tcr
FPGA_CPU_tcl.html
FPGA_CPU1.sty
FPGA_CPU.lpf
FPGA_CPU.ldf
.run_manager.ini
.recovery
